<h3><%= question.content %></h3>
<ul>
  <% question.answers.each do |a| %>
    <% if a.next_question_id %>
      <li><%= button_to "#{a.content}", survey_index_path, remote: true, form_class: "btn btn-large", params: { next_question: a.next_question_id} %></li>
    <% else %>
      <li><%= button_to "#{a.content}", survey_path(a), form_class: "btn btn-large", :method => :get %></li>
    <% end %>
  <% end %>
</ul>
<% if stack_size > 1 %>
  <%= button_to "Go back", survey_index_path, remote: true, form_class: "btn btn-large" %>
<% end %>