<ul class="social">
  <a href="https://facebook.com/usvetstar" target="_blank">
  <li class="facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></li></a>

  <a href="https://twitter.com/usvetstar" target="_blank"><li class="twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twiiter"><i class="fa fa-twitter"></i></li></a>
  <a href="http://www.linkedin.com/company/united-states-veterans-star-alliance-network-inc." target="_blank"><li class="linkedin" data-toggle="tooltip" data-placement="top" title="" 

  data-original-title="Linkedin"><i class="fa fa-linkedin"></i></li></a>
  <a href="https://www.youtube.com/channel/UCYesQjoVsQmjG0oMk4hZ_Og" target="_blank"><li class="youtube" data-toggle="tooltip" data-placement="top" title="" data-original-title="Youtube"><i class="fa fa-youtube"></i></li></a>                      
  <a href="https://plus.google.com/usvetstar" target="_blank"><li class="Googleplus" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Googleplus"><i class="fa fa-google"></i></li></a>
            
  <a href="https://instagram.com/usvetstar" target="_blank"><li class="instagram" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Instagram"><i class="fa fa-instagram"></i></li></a>
</ul>