<p>We are a nonprofit Private Foundation under Internal Revenue Code (IRC) Section <B>501(c)(3)</B>. In the State of Florida, we are also a qualified exempt charitable organization authorized to solicit contributions.
</p>

<a href="https://www.usvetstar.org/contribute-2/reports/">Links to our Reports</a> (balance sheet, income statements, etc.) as of 9/5/2016.

<p>
We are a nonprofit Private Foundation under Internal Revenue Code (IRC) Section <B>501(c)(3)</B>.
In the State of Florida, we are also a qualified exempt charitable organization authorized to solicit contributions.
</p>

<p>
Donate with APLOS.
</p>

<p>
By donating, you acknowledge that you have read and accepted our 
  <a href="http://www.usvetstar.org/contribute-2/gift-acceptance-policy/">Gift Acceptance Policy</a>.
</p>

<a href="https://www.irs.gov/uac/eight-tips-for-deducting-charitable-contributions">IRS link with tips for deducting charitable contributions.</a>