<div>
  <h2 class="center">Learn About VA Benefits</h2>
  <h4 class="center">Compensation</h4>
  <p>Something happened to you in service (i.e. a left knee injury), and is an ongoing issue today. You may be able to file a claim for service connected compensation! However, VA compensation is not just injuries or diseases that were incurred in service, there are conditions that develop after service but within a “presumptive” period and maybe therefore related to your service. Some conditions happened before service, yet they were aggravated by your service. Whatever the issue, if you are in doubt, let us help you see if you qualify for VA compensation.</p>
  <%= link_to "Quick video about VA Compensation", 
              "https://www.youtube.com/watch?v=HcAIeKQUAlM" 
  %>

  <h4 class="center">Pension</h4>
  <%= link_to "Quick video about VA Pension", "https://youtu.be/5WI-lqIQ7iQ" %>
  <br/>
  <div class="center">
    <%= link_to "Click here to connect to VA and apply for benefits", 
                "http://www.va.gov/" %>
  </div>
</div>