<h4 class="center">Volunteer Work: Key To Our Mission</h4>

<p class="center">
“When you care, it makes all the difference in the world.” SFC Headley, US Army 1999
</p>

<p>
WANT TO VOLUNTEER YOUR TIME? Retired VA employees from Regional Offices please send us your resume! We’re looking for you!

Our goal is simple: To become the strongest advocates to Veterans in the United States. Second to none. Period. In this regard, the work of our volunteers is key to our mission. We want folks that help us help Vets get every chance possible to get the benefits they deserve. So, if you think you have what it takes to help us, we have 3 very simple requirements. We beg you not to submit a request to help us if you think you don’t meet this criteria. Not trying to hurt anyone’s feelings, just that we feel this is key to our work.
</p>

<p>
<strong>First</strong>. You must have a consuming passion to help Veterans, their dependents and survivors.
</p>

<p>
But why? The obvious reason is because our way of life is due to God himself first and, second, to each individual who has served our country in one of the branches of the US Armed Forces!!! Also, because in a country like the glorious United States of America, with an all-volunteer Armed Forces, it is an INTEGRAL part of our National Defense strategy that members of the 5 branches of these Armed Forces, as they exit active duty life, are given a good treatment. Why? Because, if not, then the word will get out, and folks will not want to join!!! Our government may even be forced to bring the draft back! So, as you see, a consuming passion to help Veterans, their dependents and survivors, is key here, not just to our mission, but to this country in general. So consuming in fact, that you are willing to perform ethical, dedicated, and great work, even if you don’t get paid. You must be willing to do anything it takes, including swimming naked in the deepest parts of a shark-infested spot in the Pacific Ocean, if it will help a case reach a successful end, in an ethical and legal manner of course. Ok, we maybe kidding on the shark thing, but you get the point. Passion is key here.
</p>

<p>
<strong>Second</strong>. You need to be tech-savvy.
</p>

<p>
Our work is NOT face-to-face. There are hundreds of excellent Veterans organizations out there at just about every level, performing great work on behalf of Veterans all over the country. The origins of our organization is to try and help Veterans that are tech-savvy, because Veterans are well-served face-to-face right now if they need help of any kind. At least that is our opinion. So, to help tech-savvy Vets, you need to be tech-savvy.
</p>

<p>
<strong>Third</strong>. You cannot be the “VA bashing” type (or anything bashing for that matter lol).
</p>

<p>
You see, it is our belief as an organization that, to help others, we need to see every single stakeholder in the case of Veterans benefits as part of the solution, not part of the problem, which includes the VA, an incredible organization of 340k plus employees. We’re looking for glass half-full type of folks here. If you like to bash, and you think that’s the way to fix things, more power to you! We don’t criticize anyone, and you may very well have a beyond strong point; however, you may not fit well in our culture here.
</p>

<p>
Think you have what it takes? Send us your resume to <%= mail_to "admin@usvetstar.org" %> and we’ll get in touch with you.
</p>