body {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
}

.fa {
  width: 1.2rem;
}

header {
  background-color: #539942;
  color: #fff;
  font-size: 16px;
}

.header-contact {
  display: block;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-left: 0;
  font-size: 18px;

  span {
    padding-left: 10px;
  }
}

footer {
  background: #34495e;
  color: #ffffff;
  text-shadow: 0px 1px 2px #2a2a2a;
  padding: 38px 0 0 0;
  font-size: 16px;
  line-height: 22px;

  p {
    padding: 0 0 10px
  }
}

.footer-seperator {
  background-color: #ffffff;
  height: 3px;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  width: 100px;
}

.footer-copyright {
  background-color: #539942;
  color: #fff;
  padding: 10px 0 0px;
  font-size: 12px;
}